.game{
    width: 320px;
    text-align: center;
    color: white;
    margin: auto;
    font-weight: 500;
    margin-top: 10%;
    font-family: system-ui;
}
.title{
    padding: 5px 0;
    margin: 5px 0;
    background-color: rgb(179, 24, 60);
    padding: 5px 0;
    border:  solid darkcyan;
    border-radius: 10px;
}

span{
    color: yellow;
    font-style: oblique;
    font-size:30px;
}
.squre{
    width: 100px;
    height: 100px;
    background: rgb(22, 19, 218);
    float: left;
    margin: 2px ;
    font-size: 50px;
    border-radius: 10px;
}
.squre:hover{
    background: rgb(7, 218, 77);
    color: white;
    cursor: pointer;
}